*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url('../Image_projet/image_de_fond.jpeg');
    background-size: cover;
}


h2
{
    text-align: center;
    
}

p
{
    color:white;
}
